@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#board {
  width: 400px;
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: center;
  margin: auto;
  font-family: "Shadows Into Light", cursive;
}
.cell {
  display: flex;
  flex: 0 0 32%; /* don't grow, don't shrink, width */
  height: 100px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  /* background-color: #999; */
  font-size: 5rem;
}

.game-info {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.reset {
  width: 100px;
  height: 50px;
}

#top-left,
#top-center,
#top-right {
  border-bottom: solid black 1px;
}

#middle-left,
#middle-center,
#middle-right {
  border-bottom: solid black 1px;
}

#top-left,
#top-center {
  border-right: solid black 1px;
}

#middle-left,
#middle-center {
  border-right: solid black 1px;
}

#bottom-left,
#bottom-center {
  border-right: solid black 1px;
}

#message {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: red;
}
